/* pesticide v0.1.0 . @mrmrs . MIT
    */
.vitro-inspect-css body {
    outline: 1px solid #2980b9 !important;
}

.vitro-inspect-css article {
    outline: 1px solid #3498db !important;
}

.vitro-inspect-css nav {
    outline: 1px solid #0088c3 !important;
}

.vitro-inspect-css aside {
    outline: 1px solid #33a0ce !important;
}

.vitro-inspect-css section {
    outline: 1px solid #66b8da !important;
}

.vitro-inspect-css header {
    outline: 1px solid #99cfe7 !important;
}

.vitro-inspect-css footer {
    outline: 1px solid #cce7f3 !important;
}

.vitro-inspect-css h1 {
    outline: 1px solid #162544 !important;
}

.vitro-inspect-css h2 {
    outline: 1px solid #314e6e !important;
}

.vitro-inspect-css h3 {
    outline: 1px solid #3e5e85 !important;
}

.vitro-inspect-css h4 {
    outline: 1px solid #449baf !important;
}

.vitro-inspect-css h5 {
    outline: 1px solid #c7d1cb !important;
}

.vitro-inspect-css h6 {
    outline: 1px solid #4371d0 !important;
}

.vitro-inspect-css main {
    outline: 1px solid #2f4f90 !important;
}

.vitro-inspect-css address {
    outline: 1px solid #1a2c51 !important;
}

.vitro-inspect-css div {
    outline: 1px solid #036cdb !important;
}

.vitro-inspect-css p {
    outline: 1px solid #ac050b !important;
}

.vitro-inspect-css hr {
    outline: 1px solid #ff063f !important;
}

.vitro-inspect-css pre {
    outline: 1px solid #850440 !important;
}

.vitro-inspect-css blockquote {
    outline: 1px solid #f1b8e7 !important;
}

.vitro-inspect-css ol {
    outline: 1px solid #ff050c !important;
}

.vitro-inspect-css ul {
    outline: 1px solid #d90416 !important;
}

.vitro-inspect-css li {
    outline: 1px solid #d90416 !important;
}

.vitro-inspect-css dl {
    outline: 1px solid #fd3427 !important;
}

.vitro-inspect-css dt {
    outline: 1px solid #ff0043 !important;
}

.vitro-inspect-css dd {
    outline: 1px solid #e80174 !important;
}

.vitro-inspect-css figure {
    outline: 1px solid #ff00bb !important;
}

.vitro-inspect-css figcaption {
    outline: 1px solid #bf0032 !important;
}

.vitro-inspect-css table {
    outline: 1px solid #00cc99 !important;
}

.vitro-inspect-css caption {
    outline: 1px solid #37ffc4 !important;
}

.vitro-inspect-css thead {
    outline: 1px solid #98daca !important;
}

.vitro-inspect-css tbody {
    outline: 1px solid #64a7a0 !important;
}

.vitro-inspect-css tfoot {
    outline: 1px solid #22746b !important;
}

.vitro-inspect-css tr {
    outline: 1px solid #86c0b2 !important;
}

.vitro-inspect-css th {
    outline: 1px solid #a1e7d6 !important;
}

.vitro-inspect-css td {
    outline: 1px solid #3f5a54 !important;
}

.vitro-inspect-css col {
    outline: 1px solid #6c9a8f !important;
}

.vitro-inspect-css colgroup {
    outline: 1px solid #6c9a9d !important;
}

.vitro-inspect-css button {
    outline: 1px solid #da8301 !important;
}

.vitro-inspect-css datalist {
    outline: 1px solid #c06000 !important;
}

.vitro-inspect-css fieldset {
    outline: 1px solid #d95100 !important;
}

.vitro-inspect-css form {
    outline: 1px solid #d23600 !important;
}

.vitro-inspect-css input {
    outline: 1px solid #fca600 !important;
}

.vitro-inspect-css keygen {
    outline: 1px solid #b31e00 !important;
}

.vitro-inspect-css label {
    outline: 1px solid #ee8900 !important;
}

.vitro-inspect-css legend {
    outline: 1px solid #de6d00 !important;
}

.vitro-inspect-css meter {
    outline: 1px solid #e8630c !important;
}

.vitro-inspect-css optgroup {
    outline: 1px solid #b33600 !important;
}

.vitro-inspect-css option {
    outline: 1px solid #ff8a00 !important;
}

.vitro-inspect-css output {
    outline: 1px solid #ff9619 !important;
}

.vitro-inspect-css progress {
    outline: 1px solid #e57c00 !important;
}

.vitro-inspect-css select {
    outline: 1px solid #e26e0f !important;
}

.vitro-inspect-css textarea {
    outline: 1px solid #cc5400 !important;
}

.vitro-inspect-css details {
    outline: 1px solid #33848f !important;
}

.vitro-inspect-css summary {
    outline: 1px solid #60a1a6 !important;
}

.vitro-inspect-css command {
    outline: 1px solid #438da1 !important;
}

.vitro-inspect-css menu {
    outline: 1px solid #449da6 !important;
}

.vitro-inspect-css del {
    outline: 1px solid #bf0000 !important;
}

.vitro-inspect-css ins {
    outline: 1px solid #400000 !important;
}

.vitro-inspect-css img {
    outline: 1px solid #22746b !important;
}

.vitro-inspect-css iframe {
    outline: 1px solid #64a7a0 !important;
}

.vitro-inspect-css embed {
    outline: 1px solid #98daca !important;
}

.vitro-inspect-css object {
    outline: 1px solid #00cc99 !important;
}

.vitro-inspect-css param {
    outline: 1px solid #37ffc4 !important;
}

.vitro-inspect-css video {
    outline: 1px solid #6ee866 !important;
}

.vitro-inspect-css audio {
    outline: 1px solid #027353 !important;
}

.vitro-inspect-css source {
    outline: 1px solid #012426 !important;
}

.vitro-inspect-css canvas {
    outline: 1px solid #a2f570 !important;
}

.vitro-inspect-css track {
    outline: 1px solid #59a600 !important;
}

.vitro-inspect-css map {
    outline: 1px solid #7be500 !important;
}

.vitro-inspect-css area {
    outline: 1px solid #305900 !important;
}

.vitro-inspect-css a {
    outline: 1px solid #ff62ab !important;
}

.vitro-inspect-css em {
    outline: 1px solid #800b41 !important;
}

.vitro-inspect-css strong {
    outline: 1px solid #ff1583 !important;
}

.vitro-inspect-css i {
    outline: 1px solid #803156 !important;
}

.vitro-inspect-css b {
    outline: 1px solid #cc1169 !important;
}

.vitro-inspect-css u {
    outline: 1px solid #ff0430 !important;
}

.vitro-inspect-css s {
    outline: 1px solid #f805e3 !important;
}

.vitro-inspect-css small {
    outline: 1px solid #d107b2 !important;
}

.vitro-inspect-css abbr {
    outline: 1px solid #4a0263 !important;
}

.vitro-inspect-css q {
    outline: 1px solid #240018 !important;
}

.vitro-inspect-css cite {
    outline: 1px solid #64003c !important;
}

.vitro-inspect-css dfn {
    outline: 1px solid #b4005a !important;
}

.vitro-inspect-css sub {
    outline: 1px solid #dba0c8 !important;
}

.vitro-inspect-css sup {
    outline: 1px solid #cc0256 !important;
}

.vitro-inspect-css time {
    outline: 1px solid #d6606d !important;
}

.vitro-inspect-css code {
    outline: 1px solid #e04251 !important;
}

.vitro-inspect-css kbd {
    outline: 1px solid #5e001f !important;
}

.vitro-inspect-css samp {
    outline: 1px solid #9c0033 !important;
}

.vitro-inspect-css var {
    outline: 1px solid #d90047 !important;
}

.vitro-inspect-css mark {
    outline: 1px solid #ff0053 !important;
}

.vitro-inspect-css bdi {
    outline: 1px solid #bf3668 !important;
}

.vitro-inspect-css bdo {
    outline: 1px solid #6f1400 !important;
}

.vitro-inspect-css ruby {
    outline: 1px solid #ff7b93 !important;
}

.vitro-inspect-css rt {
    outline: 1px solid #ff2f54 !important;
}

.vitro-inspect-css rp {
    outline: 1px solid #803e49 !important;
}

.vitro-inspect-css span {
    outline: 1px solid #cc2643 !important;
}

.vitro-inspect-css br {
    outline: 1px solid #db687d !important;
}

.vitro-inspect-css wbr {
    outline: 1px solid #db175b !important;
}
